body {
    color: $colore_testi;
    font-size: 13px;
    font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;

    a {
        text-decoration: none;
        color: $colore_testi;
    }

    a:hover {
        color: $blu_notte_25percentopiuscuro;
        text-decoration: none;
    }
}

.container, .container-fluid {
    padding: $padding_sopra_sotto;
}

.container:not(.jumbotron) {
    @include separatore;
}

.button {
    display: inline-block;
    padding: 0 10px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid $colore_blu_notte;
}


//mediaquery
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}


@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1150px;
  }
}
