body {
    color: $colore_testi;
    font-size: 13px;
    font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;

    a {
        text-decoration: none;
        color: $colore_testi;
    }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
    width: 50%;
    margin: auto;
}
