header {
    height: 75px;

    nav {
        height: 100%;
        @include my-flex;

        li.link-menu {
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;
        }

        li.link-menu:not(:last-child){
            margin-right: 20px;
        }

        a:hover {
            color: $colore_blu_notte;
        }

        a {
            font-weight: 600;
        }

        button.signup {
            @include my-flex;
            display: inline-block;
            padding: 0 10px;
            height: 35px;
            width: 95px;
            border-radius: 5px;
            border: 1px solid $colore_blu_notte;
            background-color: white;

            a {
                color: $colore_blu_notte;
            }
        }

    }

    .fa-caret-down {
        margin-left: 10px;
    }
}

hr {
    margin: 0;
    color: $colore_testi;
}
