header {
    height: 75px;

    nav {
        height: 100%;
        @include separatore;
        @include my-flex(row, space-between, center);

        ul {
            margin: 0;
        }

        li.link-menu {
            list-style-type: none;
            display: inline-block;
        }

        li.link-menu:not(:last-child){
            margin-right: 20px;
        }

        a {
            font-weight: 600;
        }

        button.white {
            @include my-flex(row, space-between, center);
            @extend .button;
            background-color: white;
            a {
                color: $colore_blu_notte;
            }
        }

    }

    .fa-caret-down {
        margin-left: 10px;
    }
}

hr {
    margin: 0;
    color: $colore_testi;
}
