@mixin separatore {
    border-bottom: 1px solid $colore_testi;
}

@mixin my-flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

@mixin titoli_sezioni {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}


@mixin proprieta_img($block, $margini, $dimensioni) {
    display: $block;
    margin: $margini;
    width: $dimensioni;
}

// un qualcosa tipo questo
// @mixin my-flex($direction, $justify, $align) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: $justify;
//     align-items: $align;
// }
// 11:35
// che poi vai ad usare in questo modo:
// @include my-flex(row, space-around, center);
