section.jumbotron {
    background-color: white;
    padding: $padding_sopra_sotto;

    h1 {
        margin-bottom: $margin_bottom_jumbo;
        font-size: 50px;
    }
    p {
        margin-bottom: $margin_bottom_jumbo;
        font-size: 22px;
    }

    small {
        font-size: 14px;
    }

    .spazio-bottoni {
        margin-bottom: $margin_bottom_jumbo;
    }

    .button-blue {
            @include my-flex(row, space-between, center);
            @extend .button;
            background-color: $colore_blu_notte;
            a{
                color: white;
            }
    };

    .button-blue:hover {
        background-color: #14145a;
    }

    small.congiunzione {
        line-height: 35px;
        color: grey;
    }

    img {
        background-size: cover;
    }

    div.jumbo-right {
        padding: 0;
    }

}

section.before-after {
    background-color: $colore_principale;

    h2 {
        @include titoli_sezioni;
        margin-bottom: $margine_titolo;
    }

    img.small {
        @include proprieta_img(block, 20px auto, 140px);
    }

    p.figcaption {
        text-align: center;
        font-size: 18px;
    }

    img.big {
        @include proprieta_img(block, 40px auto, 280px);
    }
}

body > main > section:nth-child(2) > div {
    @include separatore;
}

section.feedback {

    div.img-wrap {
        @include my-flex(row, flex-end, center);
    }

    img.screenshot {
        width: 768px;
    }

    div.wrap {
        width: 420px;
    }

    h2 {
        @include titoli_sezioni;
        text-align: left;
    }

    p {
        margin-bottom: 30px;
    }

    a {
        color: $colore_blu_notte;
        margin-top: 20px;
    }

    .wrap img {
        @include proprieta_img(block, 40px auto, 270px);
    }
}

.twin .invertito {
    @include my-flex(row, flex-end, center);
    text-align: right;
}

body > main > section.feedback.twin > div > div > div.col-lg-6.img-wrap.invertito2 {
    @include my-flex(row, flex-start, center);
}

body > main > section.feedback.twin > div > div > div.col-lg-6.invertito > div > h2 {
    text-align: right;
}
