section.jumbotron {
    background-color: white;
    padding: $padding_sopra_sotto;

    h1 {
        margin-bottom: $margin_bottom_jumbo;
        font-size: 50px;
    }
    p {
        margin-bottom: $margin_bottom_jumbo;
        font-size: 22px;
    }
    small {
        font-size: 14px;
    }

    .spazio-bottoni {
        margin-bottom: $margin_bottom_jumbo;
    }

    .button-blue {
            @include my-flex(row, space-between, center);
            @extend .button;
            background-color: $colore_blu_notte;
            a{
                color: white;
            }
    };

    .button-blue:hover {
        background-color: #14145a;
    }

    small.congiunzione {
        line-height: 35px;
        color: grey;
    }

    img {
        background-size: cover;
    }

    div.jumbo-right {
        padding: 0;
    }

}

section.before-after {
    background-color: $colore_principale;

    h2 {
        @include titoli_sezioni;
        margin-bottom: $margine_titolo;
    }

    img.small {
        @include proprieta_img(block, 20px auto, 140px);
    }

    p.figcaption {
        text-align: center;
        font-size: 18px;
    }

    img.big {
        @include proprieta_img(block, 40px auto, 280px);
    }
}

section.feedback {

    div.img-wrap {
        @include my-flex(row, flex-end, center);
    }

    img.screenshot {
        width: 768px;
    }
}
