// colori
$colore_testi: #563e2b;
$colore_blu_notte: #191970;
$blu_notte_25percentopiuscuro: #14145a;
$colore_principale: #f8e0cc;

// margini
$margin_bottom_jumbo: 30px;
$margine_titolo: 50px;

// padding
$padding_sopra_sotto: 64px 0;
